/*  Color Scheme:
        - background white: #edefee
        - yellow: #f1ab52
        - pale yellow: #F2C994, F2DFC7
        - darker orange: #c44b3d
        - lighter orange: #c8594a
        - tan: #efdac8 
        - header brown: #632A1C
        - dark brown: #453938
        - black: #332B2A 
*/

nav, section.promo-section, section.info-section article {
    border: 3px solid #332B2A;
}

body {
    background-color: #F2C994;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: calc(3vw + 3vh);
}

h2 {
    font-size: calc(2.5vw + 2.5vh);
    background-color: #c8594a;
    padding: 5% 15px;
    margin: 0;
}

header > img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

nav {
    background-color: #BE5446;
}

nav ul {
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    display: flex;
    height: 100%;
    margin: 0;
}

nav li {
    display: inline-block;
    align-self: center;
    height: 100%;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #332B2A;
    font-size: 1rem;
    font-weight: bold;
}

li:hover a {
    color: #F2C994;
}

section {
    display: flex;
    text-align: center;
    margin: 20px 0;
}

section.promo-section {
    background: url("../images/banner-3.jpeg") no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

section.info-section {
    flex-direction: column;
}

article {
    flex: 1;
    width: 100%;
    margin-bottom: 40px;
}

section.info-section article {
    max-width: calc(100% - 6px);
}

article img {
    width: calc(100%);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    object-fit: cover;
    border-top: 3px solid #332B2A;
    border-bottom: 3px solid #332B2A;
}

article p {
    font-size: calc(1.5vw + 1.5vh);
}

footer {
    display: flex;
    text-align: center;
}

footer div {
    display: flex;
    flex: 1;
    justify-content: center;
}

footer img {
    width: 100px;
    align-self: center;
}

button {
    background-color: #c8594a;
    padding: 10px;
    margin: 0 20px 30px 20px;
    border-radius: 5px;
    border: 1px solid #c44b3d;
}

button:hover {
    background-color: #453938;
    color: #efdac8;
}

h1.promo-heading {
    margin-top: 0;
    padding-top: 3%;
    padding-bottom: 15%;
}

h1.promo-heading ~ div {
    opacity: 0;
    transform: translate(125%, 0);
}

@keyframes banner-slide-in {
    from {
        opacity: 0;
        transform: translate(125%, 0);
    }
    
    to {
        opacity: 100;
        transform: translate(0, 0);
    }
}

section:hover h1.promo-heading ~ div {
    /* use an animaiton here */
    opacity: 100;

    animation: banner-slide-in 2s ease;
    animation-fill-mode: forwards;
}

h1.promo-heading ~ div p {
    color: #efdac8;
    font-size: 1rem;
}

div.promo-content {
    background-color: #332B2A;
    background-color: rgb(51, 43, 42, .75);
}

div.promo-content p {
    padding: 30px 20px 20px;
}

article p {
    padding: 10px 20px 20px;
}

@media (min-width: 870px) {

    header > img {
        padding-bottom: 50px;
    }
    
    a {
        font-size: 1.5rem;
    }

    h1.promo-heading ~ div p {
        color: #efdac8;
        font-size: 1.4rem;
    }

    button {
        font-size: .75rem;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: calc(1.5vw + 1.5vh);
        align-items: center;
        padding: 7% 15px;
        margin: 0;
    }
    
    section.info-section {
        flex-direction: row;
    }

    section.info-section article {
        margin: 20px;
    }

    article img {
        width: calc(100%);
        aspect-ratio: 1 / 1;
    }

    article p {
        font-size: calc(1vw + 1vh);
    }
}