/*  - background white: #edefee
    - yellow: #f1ab52
    - pale yellow: #F2C994, F2DFC7
    - darker orange: #c44b3d
    - lighter orange: #c8594a
    - tan: #efdac8 
    - header brown: #632A1C
    - dark brown: #453938
    - black: #332B2A */

* {
    /* border: 1px solid #332B2A; */
}

nav, section.promo-section, section.info-section article {
    border: 3px solid #332B2A;
}

body {
    /* background-color: #edefee; */
    /* background-color: #f1ab52; */
    background-color: #F2C994;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    /* font-size: 2.5rem; */
    font-size: calc(3vw + 3vh);
}

h2 {
    /* font-size: 2rem; */
    font-size: calc(2.5vw + 2.5vh);
    background-color: #c8594a;
    padding: 5% 15px;
    margin: 0;
}

header > img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

nav {
    background-color: #BE5446;
}

nav ul {
    list-style: none;
    /* text-align: center; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    padding: 0;
    display: flex;
    height: 100%;
    margin: 0;
}

nav li {
    display: inline-block;
    align-self: center;
    height: 100%;
    padding: 1rem;
}

a {
    /* padding: 15px; */
    text-decoration: none;
    color: #332B2A;
    /* padding: 3rem; */
    font-size: 1rem;
    font-weight: bold;
}

li:hover a {
    color: #F2C994;
}

section {
    display: flex;
    text-align: center;
    margin: 20px 0;
}

section.promo-section {
    background: url("../images/banner-3.jpeg") no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

section.info-section {
    /* display: flex; */
    flex-direction: column;
}

article {
    flex: 1;
    /* padding: 20px; */
    width: 100%;
    margin-bottom: 40px;
}

section.info-section article {
    /* flex: 1; */
    /* margin: 20px; */
    max-width: calc(100% - 6px);
}

/* article h2 { */
    /* overflow: hidden; */
    /* object-fit: cover; */
    /* font-size: calc(3vw + 3vh); */
    /* font-size: 3rem; */
/* } */

article img {
    width: calc(100%);
    /* height: calc(100%); */
    aspect-ratio: 1 / 1;
    overflow: hidden;
    object-fit: cover;
    border-top: 3px solid #332B2A;
    border-bottom: 3px solid #332B2A;
}

article p {
    font-size: calc(1.5vw + 1.5vh);
    padding: 5%;
}

footer {
    display: flex;
    text-align: center;
}

footer div {
    display: flex;
    flex: 1;
    /* align-self: center; */
    justify-content: center;
}

footer img {
    width: 100px;
    align-self: center;
}

button {
    background-color: #c8594a;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    /* box-shadow: none; */
    border: 1px solid #c44b3d;
}

button:hover {
    background-color: #453938;
    color: #efdac8;
}

h1.promo-heading {
    margin-top: 0;
    padding-top: 3%;
    padding-bottom: 15%;
}

h1.promo-heading ~ div {
    opacity: 0;
}

section:hover h1.promo-heading ~ div {
    /* use an animaiton here */
    opacity: 100;
}

h1.promo-heading ~ div p {
    color: #efdac8;
    font-size: 1rem;
    /* color: #163f3b; */
    /* color: #1C6363; */
}

div.promo-content {
    background-color: #332B2A;
    background-color: rgb(51, 43, 42, .75);
    /* margin-top: 5%; */
}

div.promo-content p {
    padding: 20px;
}

@media (min-width: 870px) {

    header > img {
        /* display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto; */
        padding-bottom: 50px;
    }
    
    a {
        /* padding: 15px; */
        /* text-decoration: none; */
        /* color: #332B2A; */
        /* padding: 3rem; */
        font-size: 1.5rem;
        /* font-weight: bold; */
    }

    h1.promo-heading ~ div p {
        color: #efdac8;
        font-size: 1.4rem;
        /* color: #163f3b; */
        /* color: #1C6363; */
    }

    button {
        font-size: .75rem;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        /* height: 75px; */
        /* font-size: 2rem; */
        font-size: calc(1.5vw + 1.5vh);
        align-items: center;
        /* padding: 0 15px; */
        padding: 7% 15px;
        margin: 0;
    }
    
    section.info-section {
        /* display: flex; */
        flex-direction: row;
    }

    section.info-section article {
        /* flex: 1; */
        margin: 20px;
    }

    article img {
        width: calc(100%);
        aspect-ratio: 1 / 1;
        /* width: 200px;
        height: 200px; */
        /* overflow: hidden;
        object-fit: cover; */
        /* border-top: 3px solid #332B2A;
        border-bottom: 3px solid #332B2A; */
    }

    article p {
        font-size: calc(1vw + 1vh);
    }
}