

body {
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

body section.promo-section {
    background-image: url("../images/banner-3.jpeg");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* height: 200px; */
}

div {
    height: 300px;
}